---
import '../styles.css';
import passages from '../lib/data.json';
import TextArea from '../components/TextArea.svelte';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Typing Speed Test</title>
  </head>
  <body>
    <TextArea passage={passages.easy[0].text} client:load />
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge">
        Frontend Mentor</a
      >. Coded by <a href="#">NIYOMUGISHA Obed</a>.
    </div>
  </body>
</html>

<style>
  body {
    max-width: calc(1024rem / 16);
    margin-inline: auto;
    padding-inline: 1rem;
    font-family: 'Sora', Arial, Helvetica, sans-serif;
  }

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228.1, 64.2%, 66.1%);
    }
  }
</style>
